<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <link href="/bookMain.css" rel="stylesheet" type="text/css" th:href="@{/bookMain.css}">
    <link href="/navbar.css" rel="stylesheet" type="text/css" th:href="@{/navbar.css}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
          crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>BOOK</title>

</head>
<body>

<div th:replace="fragments/navigation :: navigation"></div>



<div class="container">

<div class="row">
    <div class="col-md-3">

        <div class="accordion " id="accordionExample" th:each="author:${Authors}">

            <div class="accordion-item "  >

                <h2 class="accordion-header " id="headingOne" >

                    <button class="accordion-button collapsed accordion-item-font" type="button" data-bs-toggle="collapse"
                            th:data-bs-target="'#'+${author.authorFirstName}" aria-expanded="false" aria-controls="collapseTwo" th:text="${author.authorName}">
                    </button>
                </h2>

                <tr th:each="book:${author.getBookSet()}">

                    <div th:id="${author.authorFirstName}" class="accordion-collapse collapse " aria-labelledby="headingOne"
                         data-bs-parent="#accordionExample" >

                        <a th:href="'/book/show/' + ${book.bookId}" class="accordion-body accordion-item-font" th:text="'-'+${book.bookName}"></a>

                    </div>
                </tr>

            </div>
        </div>
    </div>




        <div class="col-md-6  my-book-card" style="max-width: 540px;">
    <tr  th:each="book : ${Books}">


            <div class=" g-0 card my-card-margin">
                <div class="row ">
                <div class="col-md-4 ">
                    <img class="card-image-size" th:src="'data:image/jpeg;base64,'+${book.thumbnail}"
                         th:alt="${book.bookName}">
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${book.bookName}"></h5>
                        <p class="card-text"><small class="text-muted" th:text="${book.bookPoint}"></small></p>
                        <p class="card-text" th:each="comment : ${book.getBookCommentList()}" th:text="${comment.description}"></p>
                        <p class="card-text"><small class="text-muted" th:each="author : ${book.getAuthorSet()}"
                        th:text="${author.authorName}"></small></p>
                        <a th:href="'/book/show/' + ${book.bookId}">more >></a>
                    </div>
                </div>
                </div>
            </div>


    </tr>
</div>



    <div class="list-group col-md-3 my-book-card top5-list-font" >
    <tr th:each="topBook : ${TopList}">
        <a th:href="'/book/show/' + ${topBook.bookId}" class="list-group-item list-group-item-action " th:text="${topBook.bookName}"></a>
    </tr>
        </div>



</div>
</div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>

</body>
</html>