body{
    background-color: #f3f7f7 !important;
    background-repeat: no-repeat;
    background-size: cover
}
.accordion-item-font{
    font-family: "Times New Roman";
}
.my-book-card{
    margin-left: 50px;

}
.top5-list-font{
    font-family: "Times New Roman";
}
.card-image-size{
    width:170px ;
    height: 270px;
}
.my-card-margin{
    margin-top: 10px !important;
    margin-bottom: 15px; !important;
}