body{
    background-image: url("https://cdn2.vectorstock.com/i/1000x1000/49/46/movie-theme-background-vector-224946.jpg");
    background-repeat: no-repeat;
    background-size: cover
}
.my-movie-card{
    margin-left: 50px;
}
.top5-list-font{
    font-family: "Times New Roman";
}
.accordion-item-font{
    font-family: "Times New Roman";
    font-size: small;
}