body{
    background-image: url("https://image.freepik.com/free-photo/bowl-popcorn-tv-remote-can-drink-black-background-concept-watching-tv-film-tv-series-sports-shows-flat-lay-top-view_164357-2435.jpg");
    background-repeat: no-repeat;
    background-size: cover
}
.my-tvSeries-card{
    margin-left: 50px;
}
.top5-list-font{
    font-family: "Times New Roman";
}
.accordion-item-font{
    font-family: "Times New Roman";
    font-size: small;
}