<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TV SERIES</title>
</head>
<body>
<tr th:each="tvSeries : ${TvSeries}">

    <td th:text="${tvSeries.tvSeriesName}"></td>

    <td th:text="${tvSeries.over}"></td>

    <td th:text="${tvSeries.imdb}"></td>

    <td><span th:each="actor : ${tvSeries.getTvSeriesActorSet()}"
              th:text="${actor.actorName}" /> </span></td>

</tr>
<tr th:each="last4TvSeries : ${Last4TvSeries}"><h1>

    <td th:text="${last4TvSeries.tvSeriesName}"></td>

    </h1>
</tr>
</body>
</html>