<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <link href="/navbar.css" rel="stylesheet" type="text/css" th:href="@{/navbar.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
          crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>TV SERIES</title>
</head>
<body>

<div th:replace="fragments/navigation :: navigation"></div>


<tr th:each="tvSeries : ${TvSeries}">

    <td th:text="${tvSeries.tvSeriesName}"></td>

    <td th:text="${tvSeries.over}"></td>

    <td th:text="${tvSeries.imdb}"></td>

    <td><span th:each="actor : ${tvSeries.getTvSeriesActorSet()}"
              th:text="${actor.actorName}" /> </span></td>

</tr>
<tr th:each="last4TvSeries : ${Last4TvSeries}"><h1>

    <td th:text="${last4TvSeries.tvSeriesName}"></td>

    </h1>
</tr>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>

</body>
</html>