<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <nav class="all-navbar-bg navbar navbar-expand-lg navbar-dark " th:fragment="navigation">
        <div class="container-fluid">
            <a class="navbar-brand" href="http://localhost:8080/index"><H2>
                <img src="\mylist.jpg" class="logo-format"></H2></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">

                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:8080/index"><H3>
                            <span class="badge home-bg text-dark">HOME</span></H3></a>
                    </li>
                </ul>


                <ul class="navbar-nav">

                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:8080/book/books"><H4>
                            <span class="badge text-dark bg-success">BOOK</span></H4></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:8080/movies"><H4><span class="badge bg-danger">MOVIE</span></H4></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:8080/tvSeries"><H4>
                            <span class="badge bg-warning text-dark">TVSERIES</span></H4></a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

</body>
</html>