<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/styles.css" rel="stylesheet" type="text/css" th:href="@{/styles.css}">
    <link href="/navbar.css" rel="stylesheet" type="text/css" th:href="@{/navbar.css}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
          crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>MyList</title>

</head>
<body>


<div th:replace="fragments/navigation :: navigation"></div>


<div class="container">

    <div class="row container-all">
            <h3 class="headert">Books</h3>

        <tr th:each="book : ${Books}">
            <div class="col-sm-3">
            <div class="card my-card" style="...">
                    <img th:src="'data:image/jpeg;base64,'+${book.thumbnail}" class="card-image" alt="...">
                    <div class="card-body my-card-bg">
                        <h5 class="card-title" th:text="${book.bookName}"></h5>
                        <p class="card-text" th:each="author : ${book.getAuthorSet()}"
                           th:text="${author.authorName}" ></p>
                        <a th:href="'/book/show/' + ${book.bookId}" class="card-link my-card-link all-card-link">About</a>
                    </div>
                </div>
            </div>
        </tr>

            <a href="/books" class="card-link my-card-link">see more >>></a>
    </div>


    <div class="row container-all">

            <h3 class="headert">Movies</h3>
        <tr th:each="movie : ${Movies}">
            <div class="col-sm-3">
            <div class="card my-card " style="...">
                    <img src="..." class="card-image" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${movie.movieName}"></h5>
                        <p class="card-text" th:each="director : ${movie.getDirectorSet()}"
                           th:text="${director.directorName}" ></p>
                        <a th:href="'/movie/show/' + ${movie.movieId}" class="card-link my-card-link all-card-link">About</a>
                    </div>
                </div>
            </div>
        </tr>
            <a href="/movies" class="card-link my-card-link">see more >>></a>
    </div>

    <div class="row container-all">

            <h3 class="headert">TvSeries</h3>
        <tr th:each="tvSeries : ${TvSeries}">
            <div class="col-sm-3">
            <div class="card my-card" style="...">
                    <img src="..." class="card-image" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${tvSeries.tvSeriesName}"></h5>
                        <p class="card-text" th:each="actor : ${tvSeries.getTvSeriesActorSet()}"
                           th:text="${actor.actorName}" ></p>
                        <a href="#"  class="card-link my-card-link all-card-link">About</a>
                    </div>
                </div>
            </div>
        </tr>
            <a href="/tvSeries" class="card-link my-card-link">see more >>></a>
    </div>

</div>




<script   src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>

</body>

</html>