<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
          crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>MyList</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-white">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><H2>
            <img src="\mylist.jpg" width="80" height="80"></H2></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8080/books"><H3>
                        <span class="badge bg-secondary">HOME</span></H3></a>
                </li>
            </ul>


            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8080/books"><H4>
                        <span class="badge bg-success">BOOK</span></H4></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8080/movies"><H4><span class="badge bg-danger">MOVIE</span></H4></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8080/tvSeries"><H4>
                        <span class="badge bg-warning text-dark">TVSERIES</span></H4></a>
                </li>

            </ul>
        </div>
    </div>
</nav>


<div class="container">
    <div class="row row-cols-4">
        <tr th:each="book : ${Books}">
            <div class="col">
                <div class="card" style="...">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${book.bookName}"></h5>
                        <p class="card-text" th:each="author : ${book.getAuthorSet()}"
                           th:text="${author.authorName}" ></p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </tr>
    </div>
</div>





<div class="container">
    <div class="row row-cols-4">
        <tr th:each="movie : ${Movies}">
            <div class="col">
                <div class="card" style="...">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${movie.movieName}"></h5>
                        <p class="card-text" th:text="${movie.director}"></p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </tr>
    </div>
</div>


<div class="container">
    <div class="row row-cols-4">
        <tr th:each="tvSeries : ${TvSeries}">
            <div class="col">
                <div class="card" style="...">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${tvSeries.tvSeriesName}"></h5>
                        <p class="card-text" th:each="actor : ${tvSeries.getTvSeriesActorSet()}"
                           th:text="${actor.actorName}" ></p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </tr>
    </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>

</body>

</html>